@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root {
    box-sizing: border-box;
}

html,
body,
::after,
::before {
    box-sizing: inherit;
    font-family: 'Manrope', cursive;
}

body {
    background-image: url(../img/background-full.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content {
    position: relative;
    background-color: #fff;
    width: 90%;
    min-height: 40rem;
    margin: 4rem auto;
    border-radius: 40px;
}

.header-nav {
    background-color: #080808;
    width: 50%;
    min-height: 7%;
    border-radius: 2rem 0 1.9rem 0;
    transition: all .4ss ease-in-out;
}

.header-content-texts {
    color: gray;
    font-family: 'Bebas Neue', cursive;
    font-size: calc(0.5em + 0.4vw) !important;
    transition: 0.25s;
}

.header-content-a {
    text-decoration: none;
}

.navbar-navx {
    list-style: none;
    display: flex;
    margin: 0;
    width: 100%;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-navx p {
    margin: 0;
    color: white;
    margin-top: 2px;
}

.fa-bars-staggered {
    color: white;
    margin-left: 50%;
}

/*Search box*/
.search-wrapper {
    background-color: transparent;
    border-radius: 1rem;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    justify-content: center;
    margin-right: 2.2em;
    margin-top: 0.5em;
    width: 3.4rem;
    transition: 0.5s;
}

.search-wrapper input {
    width: 100%;
    border-radius: 1rem;
    outline: none;
    padding: 2px 10px;
    border: none;
    background-color: transparent;
}

.search-wrapper input::placeholder {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.material-symbols-outlined {
    cursor: pointer;
    background-color: #080808;
    border-radius: 1.1rem;
    padding: 0.3rem 0.3rem;
    color: white;
}

.search-wrapper:hover {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.5s;
}

/*Search box*/

.header-content-a:hover {
    color: white;
    transition: 0.25s;
}

.navbar-toggler:focus {
    box-shadow: none;

}

/*Underline animation for Navbar */

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.5px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
}

/*Underline animation for Navbar*/

@media only screen and (max-width: 576px) {
    .navbar-navx p {
        margin-top: 1em;
    }

    .navbar-navx {
        flex-direction: column;
        justify-content: start;
    }

    .header-nav {
        background-color: #080808;
        width: 100%;
        min-height: 7%;
        border-radius: 2rem 2rem 0 0;
    }

    .search-wrapper {
        margin-right: 1em;
        margin-top: 0.7rem;
        box-shadow: rgba(255, 255, 255, 0.12) 0px 0px 0px 1px;
        width: 150px;
    }

    .search-wrapper input {
        caret-color: white;
        color: white;

    }

    .search-wrapper input::placeholder {
        color: white;
    }

    .search-wrapper:hover {
        box-shadow: none;
        width: 150px;
        box-shadow: rgba(255, 255, 255, 0.12) 0px 0px 0px 1px;
    }
}